{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Change Password
{% endblock %}

{% block main %}

	<h1>Zmiana Hasła</h1>
	{{form(PasswordForm)}}

		{% if message != '' %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endif %}

	{% endblock %}
