{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Change Password
{% endblock %}
{% block content_title %}	Zmiana Hasła	{% endblock %}

{% block main %}

	{{form(PasswordForm)}}

		{% if message != '' %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endif %}

	{% endblock %}
