{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Hello ReferenceController!{% endblock %}

{% block main %}

<h1>Formularz przyjęcia artykułu</h1>
{{form(ArticleForm)}}

{# {{MaterialsInWarehouse.WaeHouse}} #}

{% endblock %}
