{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
Magazyniarnia
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <h3>Do czego służy ?</h3>
        </div>
            <li>
                Program służy do przyjmowania i wydawania artykułów
            </li>

    </div>
{% endblock %}
