{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
👥 Magazyniarnia 👥  
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <h3>Do czego służy ?</h3>
        </div>
            <li> Program służy do przyjmowania i wydawania artykułów </li></br></br>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Duis at tellus at urna condimentum mattis pellentesque id. Elit at imperdiet dui accumsan sit. Pretium viverra suspendisse potenti nullam ac tortor. Varius sit amet mattis vulputate enim nulla aliquet. Iaculis urna id volutpat lacus laoreet. Libero enim sed faucibus turpis in. Purus non enim praesent elementum facilisis. Amet risus nullam eget felis. In metus vulputate eu scelerisque felis imperdiet. Leo urna molestie at elementum eu facilisis. Pretium nibh ipsum consequat nisl vel pretium lectus quam. Purus semper eget duis at tellus at urna.
                    </br></br>
                    Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Ipsum a arcu cursus vitae congue mauris rhoncus. Aliquam nulla facilisi cras fermentum. At augue eget arcu dictum varius. Volutpat consequat mauris nunc congue nisi. Mauris augue neque gravida in fermentum et. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Metus aliquam eleifend mi in nulla posuere. Eu facilisis sed odio morbi quis commodo. Tortor dignissim convallis aenean et tortor. Ac auctor augue mauris augue neque. Nibh praesent tristique magna sit amet purus gravida quis blandit. In arcu cursus euismod quis viverra nibh cras pulvinar mattis.
                    </br></br>
                    Sed viverra tellus in hac habitasse platea. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Ipsum faucibus vitae aliquet nec ullamcorper sit. Non tellus orci ac auctor augue mauris augue neque gravida. Iaculis nunc sed augue lacus viverra vitae congue. Accumsan in nisl nisi scelerisque eu. Auctor eu augue ut lectus arcu. Eu non diam phasellus vestibulum lorem. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Hendrerit dolor magna eget est lorem ipsum. Malesuada fames ac turpis egestas.
                    </br></br>
                    Consectetur purus ut faucibus pulvinar. Fusce ut placerat orci nulla. Eu consequat ac felis donec et. Auctor augue mauris augue neque gravida in. Sit amet dictum sit amet justo donec enim diam. Ultrices dui sapien eget mi proin sed libero enim. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. Eget arcu dictum varius duis. Morbi non arcu risus quis varius quam quisque. Aliquam faucibus purus in massa.
                    </br></br>
                    Lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Laoreet sit amet cursus sit amet. Convallis aenean et tortor at risus. Cursus turpis massa tincidunt dui ut. Nisl suscipit adipiscing bibendum est ultricies. Mus mauris vitae ultricies leo. Phasellus vestibulum lorem sed risus ultricies. Velit egestas dui id ornare arcu odio. Eget mauris pharetra et ultrices neque ornare. Hac habitasse platea dictumst vestibulum. Bibendum neque egestas congue quisque egestas. Blandit libero volutpat sed cras ornare arcu dui vivamus. Purus in massa tempor nec feugiat nisl pretium fusce id. Tellus cras adipiscing enim eu turpis egestas pretium. Nibh venenatis cras sed felis eget velit aliquet sagittis.
                </span>


    </div>
{% endblock %}
