{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Hello ReleaseArticleController!
{% endblock %}
{% block content_title %}	Formularz wydania artykułu	{% endblock %}

{% block main %}

	{{form(ArticleForm)}}

		{% if message1 != '' %}
			<div class="alert alert-success" role="alert">
				{{ message1 }}
			</div>
		{% endif %}

		{% if message2 != '' %}
			<div class="alert alert-danger" role="alert">
				{{ message2 }}
			</div>
		{% endif %}

	{% endblock %}
